@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

$colorPageBg: #eff3f6;
$borderColor: #e6eaee;

/* font */
$fontColor: #9fa9ba;
$fontColorHeader: #354052;
$fontColorMenuLink: #3b475b;
$fontColorMenuHover: #334054;


body {
  font-family: 'Montserrat', sans-serif;
  background-color: $colorPageBg;

}

ul,ol {
  list-style-type: none;
}


@media (max-width: 319px){}

@media (min-width: 320px) {}

/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap
Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  body {
    // background-color: rgba($color: red, $alpha: .18);
    margin: 0 auto;
  }

  .avatar {
    height: 36px;
    width: 36px;
    border-radius: 50%;
  }

  header {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    height: 70px;
    padding: 0 20px;
    border-bottom: 1px solid $borderColor;
    margin-bottom: 2rem;
  }

    .header-left {
      display: flex;
      align-items: center;
    }

    .header-right {
      display: flex;
      align-items: center;
      // outline: 1px dashed red;
    }

  .header__navbar {
    list-style: none;
    display: flex;
  }

  .header__link {
    span {
      margin-left: 5px;
    }
  }

  .header__link, 
  .header__submenu__link, 
  .user-nav__link,
  .user-nav__submenu__link {
    text-decoration: none;
    padding: 0 10px;
    color: $fontColor;
    font-weight: 500;
    font-size: .9rem;
    display: block;
  }

  .header__link:hover {
    color: #334054;
    font-weight: 600;
  }

  
  .header__submenu {
    display: none;
    position: absolute;
  }

  .header__item:first-child:hover > .header__submenu {
    display: block;
  }
  
  .header__submenu__item,
  .user-nav__submenu__item {
    height: 30px;
    background-color: #fff;
    z-index: 100;
    line-height: 30px;
  }

  .header__submenu__item:first-child,
  .user-nav__submenu__item:first-child {
    margin-top: 20px;
  }

  .header__submenu__item:hover,
  .user-nav__submenu__item:hover {
    background-color: #343c49;
  }

  .header__submenu__link:hover,
  .user-nav__submenu__link:hover {
    display: block;
    color: #fff;
  }

  .header__search {
    display: flex;
    justify-content: flex-start;
    
    input[type=search], button {
      border: 1px solid #a0a7b0;
      height: 2rem;
      outline: none;
    }
    input[type=search] {
      padding: 0 10px;
      border-radius: 5px 0 0 5px;
      border-right: none;
    }

    input[type=search]:active {
      outline: none;
    }

    button {
      border-radius: 0 5px 5px 0;
      border-left: none;
      background-color: #fff;
    }
  }

  .user-nav__item {
    position: relative;
  }

  .user-nav__link {
    display: flex;
    align-items: center;
    span {
      margin-left: 5px;
    }
  }

  .user-nav__link:hover {
    color: #334054;
    font-weight: 600;
  }

  .user-nav__submenu {
    display: none;
    position: absolute;
    margin-left: -30px;
  }

  .user-nav__item:hover > .user-nav__submenu {
    display: block;
  }

  .wrapper {
    // outline: 1px dashed red;
    background-color: $colorPageBg;
    width: 1200px;
    margin: 0 auto;
    display: flex;

    .navs {
      // outline: 1px dashed red;
    }

    main {
      outline: 1px dashed orange;
      width: 100%;
    }

    .navs h3 {
      color: #9da9bc;
      font-size: .7rem;
      text-transform: uppercase;
      padding-left: 1rem;
      padding-bottom: 1rem;
    }

    .navs > nav {
      margin-top: 50px;
    }

    .navs > nav:nth-child(1) {
      margin-top: 0px;
    }

      .nav-page__item {
        display: flex;
        align-items: center;
        width: 200px;
        height: 30px;
        padding-left: 20px;
      }
      .nav-page__link {
        color: $fontColorMenuHover;
        font-size: .8rem;
        font-weight: 600;
        text-decoration: none;
        display: block;
        width: 200px;
        height: 100%;
        line-height: 30px;
        margin-left: -20px;
        padding-left: 20px;
        // outline: 1px dashed red;
      }

      .nav-page__link {
        span {
          margin-right: 5px;
        }
      }

      .nav-page__item:hover {
        background-color: #00a1fe;
        border-radius: 5px;
      }
      .nav-page__link:hover {
        color: #fff;
      }
  }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}