@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
/* font */
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #eff3f6;
}

ul, ol {
  list-style-type: none;
}

input, select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ced0db;
  background-color: #eff3f6;
}

/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap
Small devices (landscape phones, 576px and up) */
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  body {
    margin: 0 auto;
  }
  .avatar {
    height: 36px;
    width: 36px;
    border-radius: 50%;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #fff;
    height: 70px;
    padding: 0 20px;
    border-bottom: 1px solid #e6eaee;
    margin-bottom: 2rem;
  }
  .header-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__navbar {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__link span {
    margin-left: 5px;
  }
  .header__link,
  .header__submenu__link,
  .user-nav__link,
  .user-nav__submenu__link {
    text-decoration: none;
    padding: 0 10px;
    color: #9fa9ba;
    font-weight: 500;
    font-size: .9rem;
    display: block;
  }
  .header__link:hover {
    color: #334054;
    font-weight: 600;
  }
  .header__submenu {
    display: none;
    position: absolute;
  }
  .header__item:first-child:hover > .header__submenu {
    display: block;
  }
  .header__submenu__item,
  .user-nav__submenu__item {
    height: 30px;
    background-color: #fff;
    z-index: 100;
    line-height: 30px;
  }
  .header__submenu__item:first-child,
  .user-nav__submenu__item:first-child {
    margin-top: 20px;
  }
  .header__submenu__item:hover,
  .user-nav__submenu__item:hover {
    background-color: #343c49;
  }
  .header__submenu__link:hover,
  .user-nav__submenu__link:hover {
    display: block;
    color: #fff;
  }
  .header__search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .header__search input[type=search], .header__search button {
    border: 1px solid #a0a7b0;
    height: 2rem;
    outline: none;
  }
  .header__search input[type=search] {
    padding: 0 10px;
    border-radius: 5px 0 0 5px;
    border-right: none;
    background-color: #fff;
  }
  .header__search input[type=search]:active {
    outline: none;
  }
  .header__search button {
    border-radius: 0 5px 5px 0;
    border-left: none;
    background-color: #fff;
  }
  .user-nav__item {
    position: relative;
  }
  .user-nav__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .user-nav__link span {
    margin-left: 5px;
  }
  .user-nav__link:hover {
    color: #334054;
    font-weight: 600;
  }
  .user-nav__submenu {
    display: none;
    position: absolute;
    margin-left: -30px;
  }
  .user-nav__item:hover > .user-nav__submenu {
    display: block;
  }
  .wrapper {
    background-color: #eff3f6;
    width: 1200px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .wrapper main {
    width: 100%;
  }
  .wrapper .navs h3 {
    color: #9da9bc;
    font-size: .7rem;
    text-transform: uppercase;
    padding-left: 1rem;
    padding-bottom: 1rem;
  }
  .wrapper .navs > nav {
    margin-top: 50px;
  }
  .wrapper .navs > nav:nth-child(1) {
    margin-top: 0px;
  }
  .wrapper .nav-page__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 200px;
    height: 30px;
    padding-left: 20px;
  }
  .wrapper .nav-page__link {
    color: #334054;
    font-size: .8rem;
    font-weight: 600;
    text-decoration: none;
    display: block;
    width: 200px;
    height: 100%;
    line-height: 30px;
    margin-left: -20px;
    padding-left: 20px;
  }
  .wrapper .nav-page__link span {
    margin-right: 5px;
  }
  .wrapper .nav-page__item:hover {
    background-color: #00a1fe;
    border-radius: 5px;
  }
  .wrapper .nav-page__link:hover {
    color: #fff;
  }
  .wrapper main header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #eff3f6;
    border-bottom: none;
    margin: 0;
  }
  .wrapper main header h3 {
    font-weight: 400;
    font-size: 1.3rem;
  }
  .wrapper main .fetured-events__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #eff3f6;
  }
  .wrapper main .fetured-events__item {
    background-color: #fff;
    width: 50%;
    border-radius: 20px;
    border: 1px solid #e6eaee;
  }
  .wrapper main .fetured-events__item h3 {
    color: #334054;
    padding-left: 20px;
  }
  .wrapper main .fetured-events__item .description {
    color: #8193a9;
    padding-top: 6px;
    padding-left: 20px;
    font-size: .85rem;
    padding-bottom: 8px;
  }
  .wrapper main .fetured-events__item:nth-child(1) {
    margin-right: 4px;
  }
  .wrapper main .fetured-events__item:nth-child(2) {
    margin-left: 4px;
  }
  .wrapper main .fetured-events__image {
    width: 100%;
    width: calc(100% - 16px);
    padding: 8px;
    border-radius: 20px;
  }
  .wrapper main .events-wrapper {
    margin-top: 1.2rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1;
        grid-template-columns: 1;
    -ms-grid-rows: 1;
        grid-template-rows: 1;
  }
  .wrapper main .events-wrapper header {
    background-color: #fff;
    border-radius: 10px 10px 0 0;
    border: 1px solid #e6eaee;
  }
  .wrapper main .events-wrapper header h3 > span {
    font-size: .85rem;
    color: #a1acbb;
  }
  .wrapper main .events-wrapper .events-content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 4;
        grid-template-columns: 4;
    -ms-grid-rows: 2;
        grid-template-rows: 2;
    height: 2rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #f6f8fa;
    border: none;
    border-left: 1px solid #e6eaee;
    border-right: 1px solid #e6eaee;
  }
  .wrapper main .events-wrapper .events-common {
    color: #7f8fa4;
    font-size: .85rem;
    font-weight: 600;
    padding-left: 1rem;
  }
  .wrapper main .events-wrapper .events-title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    grid-row: 1/1;
  }
  .wrapper main .events-wrapper .events-date {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    grid-row: 1/1;
  }
  .wrapper main .events-wrapper .events-price {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 1;
    grid-row: 1/1;
  }
  .wrapper main .events-wrapper .events-action {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
    -ms-grid-row: 1;
    grid-row: 1/1;
  }
}

/* Large devices (desktops, 992px and up) */
/* Extra large devices (large desktops, 1200px and up) */
/*# sourceMappingURL=style.css.map */