@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

$colorPageBg: #eff3f6;
$borderColor: #e6eaee;

/* font */
$fontColor: #9fa9ba;
$fontColorHeader: #354052;

ul,ol {
  list-style-type: none;
}

@media (max-width: 319px){}

@media (min-width: 320px) {}

/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap
Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  body {
    background-color: rgba($color: red, $alpha: .18);
    display: grid;
    grid-template-columns: 12;
    grid-template-rows: 12;
    margin: 0 auto;
    width: 1200px;
    // justify-items: center;
  }

  header {
    grid-column: 1/12;
    grid-row: 1/2;
    outline: 1px dashed red;
    width: 1200px;
    display: grid;
    grid-template-columns: 12;
    grid-template-rows: 1;
    padding: 8px;
    background-color: #fff;
  }

  .logo {
    grid-column: 1/2;
  }

  .header__navbar {
    // outline: 1px solid red;
    grid-column: 2/4;
    list-style: none;
    display: flex;
    align-self: center;
  }

  .header__search {
    grid-column: 8/12;
    align-self: center;
    justify-self: end;
  }

  .main-nav {
    grid-column: 1/4;
    // grid-row: 2/6;
    outline: 1px solid red;
    background-color: yellow;
  }
  main {
    grid-column: 4/12;
    outline: 1px dashed orange;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}